@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.NavyFedHeader{
    padding-top: 75px;
    text-align: center;
    display: flexbox; /* Use flexbox */
    height: 175px;
    justify-content: center; 
}

#NavyFed, #FAQ {
    font-family: 'Kanit', sans-serif;
    display: inline-block; /* Set display to inline-block */
}

#NavyFed{
    font-size: 65px;
    font-weight: bolder;
    color: #000080;
}

#FAQ{
    padding-left: 20px;
    font-size: 35px;
    margin: auto 0;
    color: #000080;
}



@media screen and (max-width: 480px) {
    .NavyFedHeader{
        padding-top: 75px;
        text-align: center;
        display: flexbox; /* Use flexbox */
        height: 175px;
        justify-content: center; 
    }
    
    #NavyFed, #FAQ {
        font-family: 'Kanit', sans-serif;
        display: inline-block; /* Set display to inline-block */
    }
    
    #NavyFed{
        font-size: 30px;
        font-weight: bolder;
        color: #000080;
    }
    
    #FAQ{
        padding-left: 20px;
        font-size: 25px;
        margin: auto 0;
        color: #000080;
    }
    
}